################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GigTech.Common.DataContext.SqlServer/bin/Debug/net8.0/GigTech.Common.DataContext.SqlServer.dll
/GigTech.Common.DataContext.SqlServer/bin/Debug/net8.0/GigTech.Common.DataContext.SqlServer.pdb
/GigTech.Common.DataContext.SqlServer/bin/Debug/net8.0/GigTech.Common.EntityModels.SqlServer.dll
/GigTech.Common.DataContext.SqlServer/bin/Debug/net8.0/GigTech.Common.EntityModels.SqlServer.pdb
/GigTech.Common.DataContext.SqlServer/obj/Debug/net8.0/GigTech.Common.DataContext.SqlServer.AssemblyInfo.cs
/GigTech.Common.DataContext.SqlServer/obj/Debug/net8.0/GigTech.Common.DataContext.SqlServer.AssemblyInfoInputs.cache
/GigTech.Common.DataContext.SqlServer/obj/Debug/net8.0/GigTech.Common.DataContext.SqlServer.assets.cache
/GigTech.Common.DataContext.SqlServer/obj/Debug/net8.0/GigTech.Common.DataContext.SqlServer.csproj.AssemblyReference.cache
/GigTech.Common.DataContext.SqlServer/obj/Debug/net8.0/GigTech.Common.DataContext.SqlServer.csproj.CoreCompileInputs.cache
/GigTech.Common.DataContext.SqlServer/obj/Debug/net8.0/GigTech.Common.DataContext.SqlServer.csproj.FileListAbsolute.txt
/GigTech.Common.DataContext.SqlServer/obj/Debug/net8.0/GigTech.Common.DataContext.SqlServer.dll
/GigTech.Common.DataContext.SqlServer/obj/Debug/net8.0/GigTech.Common.DataContext.SqlServer.GeneratedMSBuildEditorConfig.editorconfig
/GigTech.Common.DataContext.SqlServer/obj/Debug/net8.0/GigTech.Common.DataContext.SqlServer.genruntimeconfig.cache
/GigTech.Common.DataContext.SqlServer/obj/Debug/net8.0/GigTech.Common.DataContext.SqlServer.pdb
/GigTech.Common.DataContext.SqlServer/obj/Debug/net8.0/GigTech.Common.DataContext.SqlServer.sourcelink.json
/GigTech.Common.DataContext.SqlServer/obj/Debug/net8.0/ref/GigTech.Common.DataContext.SqlServer.dll
/GigTech.Common.DataContext.SqlServer/obj/Debug/net8.0/refint/GigTech.Common.DataContext.SqlServer.dll
/GigTech.Common.DataContext.SqlServer/obj/GigTech.Common.DataContext.SqlServer.csproj.nuget.dgspec.json
/GigTech.Common.DataContext.SqlServer/obj/GigTech.Common.DataContext.SqlServer.csproj.nuget.g.props
/GigTech.Common.DataContext.SqlServer/obj/project.assets.json
/GigTech.Common.DataContext.SqlServer/obj/project.nuget.cache
/GigTech.Common.DataContext.SqlServer/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/GigTech.Common.DataContext.SqlServer/obj/Release/net8.0/GigTech.Common.DataContext.SqlServer.AssemblyInfo.cs
/GigTech.Common.DataContext.SqlServer/obj/Release/net8.0/GigTech.Common.DataContext.SqlServer.AssemblyInfoInputs.cache
/GigTech.Common.DataContext.SqlServer/obj/Release/net8.0/GigTech.Common.DataContext.SqlServer.assets.cache
/GigTech.Common.DataContext.SqlServer/obj/Release/net8.0/GigTech.Common.DataContext.SqlServer.csproj.AssemblyReference.cache
/GigTech.Common.DataContext.SqlServer/obj/Release/net8.0/GigTech.Common.DataContext.SqlServer.GeneratedMSBuildEditorConfig.editorconfig
/GigTech.Common.DataContext.SqlServer/obj/Release/net8.0/GigTech.Common.DataContext.SqlServer.GlobalUsings.g.cs
/GigTech.Common.EntityModels.SqlServer/bin/Debug/net8.0/GigTech.Common.EntityModels.SqlServer.dll
/GigTech.Common.EntityModels.SqlServer/bin/Debug/net8.0/GigTech.Common.EntityModels.SqlServer.pdb
/GigTech.Common.EntityModels.SqlServer/obj/Debug/net8.0/GigTech.Common.EntityModels.SqlServer.AssemblyInfo.cs
/GigTech.Common.EntityModels.SqlServer/obj/Debug/net8.0/GigTech.Common.EntityModels.SqlServer.AssemblyInfoInputs.cache
/GigTech.Common.EntityModels.SqlServer/obj/Debug/net8.0/GigTech.Common.EntityModels.SqlServer.assets.cache
/GigTech.Common.EntityModels.SqlServer/obj/Debug/net8.0/GigTech.Common.EntityModels.SqlServer.csproj.AssemblyReference.cache
/GigTech.Common.EntityModels.SqlServer/obj/Debug/net8.0/GigTech.Common.EntityModels.SqlServer.csproj.CoreCompileInputs.cache
/GigTech.Common.EntityModels.SqlServer/obj/Debug/net8.0/GigTech.Common.EntityModels.SqlServer.csproj.FileListAbsolute.txt
/GigTech.Common.EntityModels.SqlServer/obj/Debug/net8.0/GigTech.Common.EntityModels.SqlServer.dll
/GigTech.Common.EntityModels.SqlServer/obj/Debug/net8.0/GigTech.Common.EntityModels.SqlServer.GeneratedMSBuildEditorConfig.editorconfig
/GigTech.Common.EntityModels.SqlServer/obj/Debug/net8.0/GigTech.Common.EntityModels.SqlServer.genruntimeconfig.cache
/GigTech.Common.EntityModels.SqlServer/obj/Debug/net8.0/GigTech.Common.EntityModels.SqlServer.pdb
/GigTech.Common.EntityModels.SqlServer/obj/Debug/net8.0/GigTech.Common.EntityModels.SqlServer.sourcelink.json
/GigTech.Common.EntityModels.SqlServer/obj/Debug/net8.0/ref/GigTech.Common.EntityModels.SqlServer.dll
/GigTech.Common.EntityModels.SqlServer/obj/Debug/net8.0/refint/GigTech.Common.EntityModels.SqlServer.dll
/GigTech.Common.EntityModels.SqlServer/obj/GigTech.Common.EntityModels.SqlServer.csproj.EntityFrameworkCore.targets
/GigTech.Common.EntityModels.SqlServer/obj/GigTech.Common.EntityModels.SqlServer.csproj.nuget.dgspec.json
/GigTech.Common.EntityModels.SqlServer/obj/GigTech.Common.EntityModels.SqlServer.csproj.nuget.g.props
/GigTech.Common.EntityModels.SqlServer/obj/project.assets.json
/GigTech.Common.EntityModels.SqlServer/obj/project.nuget.cache
/GigTech.Common.EntityModels.SqlServer/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/GigTech.Common.EntityModels.SqlServer/obj/Release/net8.0/GigTech.Common.EntityModels.SqlServer.AssemblyInfo.cs
/GigTech.Common.EntityModels.SqlServer/obj/Release/net8.0/GigTech.Common.EntityModels.SqlServer.AssemblyInfoInputs.cache
/GigTech.Common.EntityModels.SqlServer/obj/Release/net8.0/GigTech.Common.EntityModels.SqlServer.assets.cache
/GigTech.Common.EntityModels.SqlServer/obj/Release/net8.0/GigTech.Common.EntityModels.SqlServer.csproj.AssemblyReference.cache
/GigTech.Common.EntityModels.SqlServer/obj/Release/net8.0/GigTech.Common.EntityModels.SqlServer.GeneratedMSBuildEditorConfig.editorconfig
/GigTech.Common.EntityModels.SqlServer/obj/Release/net8.0/GigTech.Common.EntityModels.SqlServer.GlobalUsings.g.cs
