@using GigTech.Shared

@{
    var dbcontext = new GigTechContext();
}
<h2>Forum Index Sida</h2>

<br />
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <!-- Column for Forum Posts -->
            <div class="container mt-1">
                @if (dbcontext.ForumPosts is not null)
                {
                    @foreach (var f in dbcontext.ForumPosts)
                    {
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card mb-4">
                                        <div class="container card-header">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h3 class="card-title">@f.Title</h3>
                                                    <div>
                                                        @if (f.ThreadId == 1)
                                                        {
                                                            <h6>Category: Test Post</h6>
                                                        }
                                                        else if (f.ThreadId == 2)
                                                        {
                                                            <h6>Category: Game Posts</h6>
                                                        }
                                                        else
                                                        {
                                                            <h6>Category: News Post</h6>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-md-4 text-left">
                                                    <p class="card-text">Date & Time: @f.CreationDate</p>
                                                    <h6 class="card-subtitle mb-2 text-muted">Posted by customer id: @f.CustomerId</h6>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <p class="card-text">Content: @Html.Raw(f.Content)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h3>No Forum Post Created Yet</h3>
                }
            </div>
        </div>
        <div class="col-md-2">
            <!-- Column for Create New Post Button -->
            <div class="mb-4 text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPostModal">
                    Create New Post
                </button>
            </div>
        </div>
    </div>
</div>


  

<div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="newPostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newPostModalLabel">New Forum Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Forum" asp-action="SaveText" method="post">
                    <div class="form-group bg-light col-md-6">
                        <label for="threadId">Select Thread:</label>
                        <select class="form-select form-select-m" aria-label="Medium select" id="threadId" name="threadId" required>
                            <option selected disabled value="">Choose a thread...</option>
                            <option value=1>Category: Test</option>
                            <option value=2>Games</option>
                            <option value=3>News</option>
                        </select>
                    </div>
                    <div class="form-group bg-light">
                        <label for="title" class="bg-light">Title:</label>
                        <input id="title" name="title" class="form-control bg-light" required />
                    </div>
                    <div class="form-group bg-light">
                        <label for="content" class="bg-light">Content:</label>
                        <textarea id="content" name="content" class="form-control bg-light" rows="5" required></textarea>
                    </div>
                    <br />
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}