@using GigTech.Shared

@{
var dbcontext = new GigTechContext();
}

@if (dbcontext.ForumPosts is not null)
{
    foreach (var posts in dbcontext.ForumPosts)
    {
        <div class="card">
            <div class="card-header">
                @posts.CustomerId
                <p class="card-text">@posts.CreationDate</p>

            </div>
            <div class="card-body">
                <h5 class="card-title">@posts.Title</h5>
                <p class="card-text">@posts.Content</p>
            </div>
        </div>
    }
}

<h2>hejhej</h2>