
body {
    font-family: Arial, sans-serif;
    background-color: #111111;
}

h2, h3{
    color: white;
}

main {
    color: black;
}
h2.text-center {
    color: #007bff;
    margin-top: 2%;
}

.carousel {
    width: 70%;
    margin: auto;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.carousel-caption {
    top: auto;
    bottom: 0;
    color: #ffffff;
}

.card {
    margin-bottom: 2%;
}

.bg-secondary {
    background-color: red !important;
    color: white;
}
.p-forum{
    color: black;
}

.btn btn-primary{
    display: flex;
    text-align: right;
}
