body {
    background-color: #5D5E63;
}

#ulnav {
    display: flex;
    flex-direction: row;
}

.buttons {
    margin-bottom: 10px;
    text-decoration: none;
}

#genremenu {
    width: 150px;
}

#carouselWithCaptions {
    display: flex;
    width: 80%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.card {
    width: 75%;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.productimg {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
}

.genregames {
    font-size: 14px;
    text-decoration: underline;
    margin-bottom: 0;
}

.realeasedate {
    margin-bottom: 0;
}

.buttonpage {
    float: right;
}

.priceproduct {
    width: 90px;
    border: solid 1px grey;
    border-right: none;
    padding-left: 2px;
    margin-bottom: 0;
    margin-top: 2px;
    float: right;
    border-radius: 3px;
}

.priceproductf {
    width: 90px;
    border: solid 1px grey;
    border-right: none;
    padding-left: 2px;
    margin-bottom: 0;
    margin-top: 2px;
    float: right;
    border-radius: 3px;
}

.buttongame {
    float: right;
}
